.navbar .hamburger-menu .menu, .gallery .cards-wrapper .card-overlay, .gallery .cards-wrapper .card-img {
  height: 100%;
  width: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #262626; }

.navbar {
  position: relative;
  z-index: 10; }
  .navbar .hamburger-menu {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 10%;
    right: 5%;
    z-index: 15; }
    @media (max-width: 650px) {
      .navbar .hamburger-menu {
        width: 30px;
        height: 30px;
        top: 4%;
        right: 5%; } }
    .navbar .hamburger-menu .menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      cursor: pointer;
      transition: all 0.7s ease; }
      .navbar .hamburger-menu .menu-line {
        width: 100%;
        height: 4px;
        background: #f16a52;
        transform-origin: right;
        transition: all 0.7s ease; }
  .navbar-navigation {
    display: flex; }
    .navbar-navigation-left {
      width: 50vw;
      height: 100vh;
      background: rgba(187, 187, 187, 0.979);
      position: fixed;
      left: -55%;
      transition: all 0.7s cubic-bezier(1, 0, 0, 1); }
      .navbar-navigation-left .left-img {
        width: 50%;
        position: absolute;
        box-shadow: 0 15px 16px rgba(0, 0, 0, 0.5);
        opacity: 0.7;
        border-radius: 10px; }
      .navbar-navigation-left .left-img-1 {
        top: 15%;
        left: 15%; }
      .navbar-navigation-left .left-img-2 {
        top: 35%;
        left: 25%; }
      .navbar-navigation-left .left-img-3 {
        top: 55%;
        left: 35%; }
    .navbar-navigation-right {
      width: 50vw;
      height: 100vh;
      background: #1f1d1df1;
      position: fixed;
      right: -55%;
      transition: all 0.7s cubic-bezier(1, 0, 0, 1);
      display: flex;
      justify-content: center;
      align-items: center; }
    .navbar-navigation .nav-list-item {
      list-style: none; }
    .navbar-navigation .nav-list-link {
      font-family: "Dancing Script", cursive;
      font-size: 50px;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: capitalize;
      color: #bbb;
      text-decoration: none;
      display: block;
      margin: 1rem;
      text-align: center;
      transition: all 0.7s ease; }
      .navbar-navigation .nav-list-link:hover {
        color: #f16a52;
        letter-spacing: 4px;
        text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.568); }
      @media (max-width: 500px) {
        .navbar-navigation .nav-list-link {
          font-size: 40px; } }
      @media (max-width: 425px) {
        .navbar-navigation .nav-list-link {
          font-size: 30px; } }
      @media (max-width: 335px) {
        .navbar-navigation .nav-list-link {
          font-size: 20px; } }

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: -5px; }

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: -5px; }

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotate(90deg); }

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotate(-40deg); }

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0; }

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotate(40deg); }

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../images/bg2.jpeg) no-repeat center center/cover; }
  .header .brand {
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center; }
  .header-banner {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; }

.about {
  height: 90vh;
  display: flex;
  align-items: center;
  margin: 3rem 0; }
  @media (max-width: 925px) {
    .about {
      margin-top: 5rem; } }
  .about-left {
    width: 40%;
    position: relative;
    left: -900px;
    animation: slide 1s 2s forwards ease; }
    .about-left img {
      width: 100%;
      border-radius: 15px;
      box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.808); }

@keyframes slide {
  0% {
    transform: translateX(-900px);
    opacity: 0; }
  70% {
    transform: translateX(800px);
    transform: rotateZ(80deg);
    opacity: 0; }
  100% {
    transform: translateX(920px);
    opacity: 1; } }
    @media (max-width: 750px) {
      .about-left {
        display: none;
        width: 0; } }
  .about-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (max-width: 750px) {
      .about-right {
        width: 100%; } }
    .about-right .main-heading {
      font-size: 50px; }
      @media (max-width: 360px) {
        .about-right .main-heading {
          font-size: 40px; } }
      @media (max-width: 345px) {
        .about-right .main-heading {
          font-size: 30px; } }
    .about-right .sub-heading {
      color: #000;
      margin-bottom: 20px;
      text-shadow: 1px 1px 4px #fff; }
      @media (max-width: 360px) {
        .about-right .sub-heading {
          font-size: 20px; } }
      @media (max-width: 345px) {
        .about-right .sub-heading {
          font-size: 17px; } }
    .about-right .description {
      font-family: "Josefin Sans", sans-serif;
      font-style: italic;
      margin: 2rem 0;
      padding: 0 3rem;
      color: #bbb;
      text-align: justify; }
      .about-right .description::first-letter {
        padding-left: 15px; }
      @media (max-width: 750px) {
        .about-right .description {
          font-size: 18px; } }
      @media (max-width: 500px) {
        .about-right .description {
          font-size: 15px; } }
      @media (max-width: 360px) {
        .about-right .description {
          font-size: 14px; } }
      @media (max-width: 345px) {
        .about-right .description {
          font-size: 12px; } }
    .about-right .stars {
      color: #f16a52; }
      .about-right .stars .star {
        margin-right: 10px; }
      @media (max-width: 360px) {
        .about-right .stars {
          font-size: 12px; } }

.gallery {
  margin: 5rem 0; }
  .gallery .cards-wrapper {
    display: flex;
    flex-wrap: wrap; }
    .gallery .cards-wrapper .card {
      width: 33%;
      height: 30vw;
      position: relative;
      margin: 3px auto;
      overflow: hidden; }
      .gallery .cards-wrapper .card:hover .card-overlay {
        left: 0; }
      .gallery .cards-wrapper .card-overlay {
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 2;
        background: rgba(241, 106, 82, 0.5);
        color: #fff;
        transition: left 0.7s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .gallery .cards-wrapper .card-overlay-heading {
          font-family: "Nunito", sans-serif;
          font-size: 50px;
          font-weight: 300;
          letter-spacing: 2px;
          text-transform: capitalize; }
          @media (max-width: 750px) {
            .gallery .cards-wrapper .card-overlay-heading {
              font-size: 40px;
              text-align: center; } }
          @media (max-width: 600px) {
            .gallery .cards-wrapper .card-overlay-heading {
              font-size: 30px;
              text-align: center; } }
          @media (max-width: 550px) {
            .gallery .cards-wrapper .card-overlay-heading {
              font-size: 25px;
              text-align: center; } }
          @media (max-width: 450px) {
            .gallery .cards-wrapper .card-overlay-heading {
              font-size: 20px;
              text-align: center; } }
          @media (max-width: 350px) {
            .gallery .cards-wrapper .card-overlay-heading {
              font-size: 18px;
              text-align: center; } }
        .gallery .cards-wrapper .card-overlay-paragraph {
          font-family: "Josefin Sans", sans-serif;
          font-size: 30px;
          margin-bottom: 30px;
          font-weight: 300;
          letter-spacing: 2px;
          text-transform: capitalize; }
        .gallery .cards-wrapper .card-overlay-btn {
          width: 150px;
          height: 40px;
          color: #f16a52;
          background: #fff;
          font-family: "Josefin Sans", sans-serif;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 1px;
          border: 1px solid #f16a52;
          border-radius: 30px;
          outline: none;
          cursor: pointer; }
          .gallery .cards-wrapper .card-overlay-btn:hover {
            box-shadow: 1px 1px 4px rgba(51, 51, 51, 0.719); }
          @media (max-width: 750px) {
            .gallery .cards-wrapper .card-overlay-btn {
              width: 130px;
              height: 30px;
              font-size: 13px; } }
          @media (max-width: 450px) {
            .gallery .cards-wrapper .card-overlay-btn {
              width: 120px;
              height: 20px;
              font-size: 11px; } }
          @media (max-width: 375px) {
            .gallery .cards-wrapper .card-overlay-btn {
              width: 110px;
              height: 18px;
              font-size: 9px; } }
      .gallery .cards-wrapper .card-img {
        object-fit: cover;
        opacity: 0.5; }

.footer {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .footer-header {
    display: flex;
    align-items: center;
    margin-bottom: 7px; }
  .footer .social {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-top: 1rem; }
    @media (max-width: 350px) {
      .footer .social {
        width: 200px; } }
    .footer .social-item {
      list-style: none; }
    .footer .social-link {
      text-decoration: none;
      font-size: 50px;
      color: #bbb; }
      .footer .social-link:hover {
        color: #f16a52; }
  .footer-copyrights {
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;
    color: #bbb;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 4rem; }

.logo {
  font-size: 70px;
  color: #f16a52;
  width: 110px;
  height: 110px;
  border: 3px solid #f16a52;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.main-name {
  font-family: "Nunito", sans-serif;
  font-size: 45px;
  margin-left: 1rem;
  color: #bbb;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase; }
  @media (max-width: 500px) {
    .main-name {
      font-size: 25px; } }
  @media (max-width: 350px) {
    .main-name {
      font-size: 18px; } }

.sub-name {
  color: #f16a52;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif; }
  @media (max-width: 500px) {
    .sub-name {
      font-size: 12px; } }

.main-heading {
  font-family: "Dancing Script", cursive;
  font-size: 100px;
  font-weight: 300;
  color: #f16a52; }
  @media (max-width: 1000px) {
    .main-heading {
      font-size: 80px; } }
  @media (max-width: 925px) {
    .main-heading {
      font-size: 70px; } }

.sub-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  font-weight: 300;
  color: #bbb;
  margin-bottom: 40px; }
  @media (max-width: 1000px) {
    .sub-heading {
      font-size: 30px; } }
  @media (max-width: 400px) {
    .sub-heading {
      font-size: 20px; } }

.main-btn {
  width: 170px;
  height: 45px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #f16a52;
  background: transparent;
  border: 1px solid #f16a52;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease; }
  .main-btn:hover {
    background: #f16a52;
    color: #262626; }
