* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $color-dark;
}

.navbar {
    position: relative;
    z-index: 10;
    &-navigation {
        display: flex;

        &-left {
            width: 50vw;
            height: 100vh;
            background: rgba(187, 187, 187, 0.979);
            position: fixed;
            left: -55%;
            transition: all 0.7s cubic-bezier(1, 0, 0, 1);

            .left-img {
                width: 50%;
                position: absolute;
                box-shadow: 0 15px 16px rgba($color-black, 0.5);
                opacity: 0.7;
                border-radius: 10px;
            }

            .left-img-1 {
                top: 15%;
                left: 15%;
            }

            .left-img-2 {
                top: 35%;
                left: 25%;
            }

            .left-img-3 {
                top: 55%;
                left: 35%;
            }

        }

        &-right {
            width: 50vw;
            height: 100vh;
            background: #1f1d1df1;
            position: fixed;
            right: -55%;
            transition: all 0.7s cubic-bezier(1, 0, 0, 1);
            @include flexLayout;
        }

        .nav-list {
            &-item {
                list-style: none;
            }

            &-link {
                font-family: $font-dancingScript;
                font-size: 50px;
                @include textStyles(capitalize);
                color: $color-secondary;
                text-decoration: none;
                display: block;
                margin: 1rem;
                text-align: center;
                transition: all 0.7s ease;

                &:hover {
                    color: $color-primary;
                    letter-spacing: 4px;
                    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.568);
                }

                @media(max-width: 500px) {
                    font-size: 40px;;
                }

                @media(max-width: 425px) {
                    font-size: 30px;;
                }

                @media(max-width: 335px) {
                    font-size: 20px;;
                }
            }
        }
    }
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
    left: -5px;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
    right: -5px;
}

.checkbox:checked ~ .hamburger-menu .menu {
    transform: rotate(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
    transform: rotate(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
    opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
    transform: rotate(40deg);
}

.header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba($color-black, 0.8), rgba($color-black, 0.5)), url(../images/bg2.jpeg) no-repeat center center/cover;

    .brand {
        @include centering(15%);
        @include flexLayout;
    }

    &-banner {
        @include centering(50%);
        text-align: center;
        color: #fff;
    }
}

.about {
    height: 90vh;
    display: flex;
    align-items: center;
    margin: 3rem 0;

    @media(max-width: 925px) {
        margin-top: 5rem;
    }

    &-left {
        width: 40%;
        position: relative;
        left: -70px;
        img {
            width: 100%;
            opacity: 0.7;
        }

        @media(max-width: 750px) {
            display: none;
            width: 0;
        }
    }

    &-right {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media(max-width: 750px) {
            width: 100%;
        }

        .main-heading {
            font-size: 50px;

            @media(max-width: 360px) {
                font-size: 40px;
            }

            @media(max-width: 345px) {
                font-size: 30px;
            }
        }

        .sub-heading {
            color: $color-black;
            margin-bottom: 20px;
            text-shadow: 1px 1px 4px #fff;

            @media(max-width: 360px) {
                font-size: 20px;
            }

            @media(max-width: 345px) {
                font-size: 17px;
            }
        }

        .description {
            font-family: $font-josefinSans;
            font-style: italic;
            margin: 2rem 0;
            padding: 0 3rem;
            color: $color-secondary;
            text-align: justify;

            &::first-letter {
                padding-left: 15px; 
            }

            @media(max-width: 750px) {
                font-size: 18px;
            }

            @media(max-width: 500px) {
                font-size: 15px;
            }

            @media(max-width: 360px) {
                font-size: 14px;
            }

            @media(max-width: 345px) {
                font-size: 12px;
            }
        }

        .stars {
            color: $color-primary;
            .star {
                margin-right: 10px;
            }

            @media(max-width: 360px) {
                font-size: 12px;
            }
        }
    }
}

.gallery {
    margin: 5rem 0;
    .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

.footer {
    padding: 70px 0;
    @include flexLayout;
    flex-direction: column;
    
    &-header {
        display: flex;
        align-items: center;
        margin-bottom: 7px;
    }

    .social {
       display: flex;
       width: 300px;
       justify-content: space-between;
       margin-top: 1rem;

        @media(max-width: 350px) {
            width: 200px;
        }

       &-item {
           list-style: none;
       }

       &-link {
           text-decoration: none;
           font-size: 50px;
           color: $color-secondary;

           &:hover {
               color: $color-primary;
           }
       }

        
    }

    &-copyrights {
        font-family: $font-josefinSans;
        font-size: 17px;
        color: $color-secondary;
        @include textStyles(capitalize);
        margin-top: 4rem;
    }
}